#Automatic Traffic Light Control Simulator
This project demonstrates how to use Arduino to control multiple LEDs with a timed sequence, which is expanded to automatic traffic light simulator project.
